<GroupTopicsComponent>
  <div class="card-block">
    <h3 class="card-title">{{t 'site.groupTopics.title'}}</h3>
    <div class="dropdown card-title-btn-container">
      <button class="btn btn-sm btn-subtle dropdown-toggle"
        type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <em class="fa fa-cog"></em>
      </button>
      <div class="dropdown-menu dropdown-menu-right"
        aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"><em
          class="fa fa-search mr-1"></em> More info</a> <a
          class="dropdown-item" href="#"><em
          class="fa fa-thumb-tack mr-1"></em> Pin Window</a> <a
          class="dropdown-item" href="#"><em
          class="fa fa-remove mr-1"></em> Close Window</a>
      </div>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">{{t 'site.groupTopics.description'}}</h6>
    <ul class="todo-list mt-2">
      {{#each this.chatRooms as |chatRoom|}}
      <li class="todo-list-item">
        <div class="checkbox mt-1 mb-2">
          <label class="custom-control custom-checkbox"> <input
            checked type="checkbox" class="custom-control-input"><span
            class="custom-control-indicator"></span> <span
            class="custom-control-description">chatRoom.name</span></label>
          <div class="float-right action-buttons">
            <a href="#" class="trash"><em class="fa fa-trash"></em></a>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="card-footer todo-list-footer">
      <div class="input-group">
        <input id="btn-input" type="text"
          class="form-control input-md" placeholder={{t "chat.addNewTopic"}} /><span
          class="input-group-btn">
          <button class="btn btn-primary btn-md" id="btn-todo">Add</button>
        </span>
      </div>
    </div>
  </div>

{{yield}}
</GroupTopicsComponent>