<div class="card mb-12">
		<div class="card-block">
			<h3 class="card-title">{{t 'site.overview.title'}}</h3>
			<div class="dropdown card-title-btn-container">
				<button class="btn btn-sm btn-subtle" type="button"><em class="fa fa-list-ul"></em> View All</button>
				<button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> More info</a>
				    <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Pin Window</a>
				    <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Close Window</a></div>
			</div>
			<h6 class="card-subtitle mb-2 text-muted">{{t 'site.overview.description'}}</h6>
			Site info viewer here
			Editor enabled when administrator
		</div>
	</div>
{{outlet}}
